/**
* _basic-tags.scss
*
* Partials for basic tags that repeat 
* throughout the site.
*
*/
@use "../partials/variables";
@use "../partials/keyframes";
:root {
  --windowHeight: calc(100vh / 1);
  --windowWidth: calc(100vw / 1);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: variables.$outline-test;
}
* {
  z-index: 1000;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  image-rendering: auto;
  shape-rendering: geometricPrecision;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  body {
    font-family: "Clash-Display", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: variables.$color-background;
    color: variables.$color-primary;
    background-repeat: repeat;
    opacity: 1;
    word-wrap: break-word;
    &::after {
      animation: grain 8s steps(10) infinite;
      background-image: url("/images/noise.png");
      content: "";
      height: 300%;
      left: -50%;
      opacity: 1;
      position: fixed;
      top: -100%;
      width: 300%;
    }
    i {
      font-style: normal;
      color: variables.$color-secondary;
    }
    a {
      text-decoration: none;
      color: variables.$color-primary;
    }
  }
}
